name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Install poetry
        run: pipx install poetry pre-commit

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: poetry
          cache-dependency-path: poetry.lock

      - run: brew install automake
        if: matrix.os == 'macos-latest'

      - name: Install dependencies
        run: poetry install

      - run: pre-commit run --all-files

      - run: poetry run pytest --cov=bip44 --cov-report xml

      - run: poetry build

      - name: Upload to codecov
        uses: codecov/codecov-action@v4
        if: matrix.os == 'ubuntu-latest' && matrix.python-version == '3.13'
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
